/* CSS version grid */
.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 30px 50px 50px 120px;
  }
  .green {
    grid-column: 1 / 17;
    grid-row: 1;
    background-color: rgba(82,211,95);
  }
  .blue {
    grid-column: 17 / 20 ;
    grid-row: 1;
    background-color: rgba(70,123,190);
  }
  .red1 {
    grid-column: 1 / 8;
    grid-row: 2 / 4;
    background-color: rgba(218,79,60);
  }
  .orange {
    grid-column: 8 / 14;
    grid-row: 2;
    background-color: rgba(218,127,0);
  }
  .grey {
    grid-column: 14 / 20;
    grid-row: 2;
    background-color:  rgba(151,165,166);
  }

  .yellow {
    grid-column: 8/12;
    grid-row: 3;
    background-color:  rgba(232,159,0);
  }
  .green2 {
    grid-column: 12/16;
    grid-row: 3;
    background-color:  rgba(62,163,129);
  }
  .orange2 {
    grid-column: 16/20;
    grid-row: 3;
    background-color:  rgb(199, 82, 0);
  }
  .darkgrey {
    grid-column: 1 / 20;
    grid-row: 4;
    background-color: rgb(48, 61, 82);
  }