table {
    border-collapse: collapse;
    border: 3px solid black;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
.right {
    text-align : right;
}
.grey{
    background-color:lightgray;
}
.green{
    background-color:mediumseagreen;
}
.red{
    background-color:tomato;
}
.number{
    text-align:center;
}
.date{
    width:120px;
    text-align : right;
}
.libellé{
    width:220px;
}