header
{
    width: 100%;
    height: 600px;
    background: url("img/header2.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-family: Arial;
    font-size: 60px;
    text-align: center;
    padding : 300px;
}
.navigation{
    text-align: center;
}
ul {
    font-family: Arial;
    padding:0;
    margin:0;
    list-style-type:none;
}
li {
    margin-left:30px;
    float:left;
    }
ul li a {
    float:left;   
    width:100px;
    color:black;
    text-decoration:none;
    text-align:center;
    }
ul li a:hover {
    color :lightslategray;
    text-decoration: underline;
    }


    
.navigation a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/*
.navigation {
    display: inline-block;
}*/