/* CSS version flex */
.container{
    display : flex;
}
.green{
    width: 90%;
    background-color: rgba(82,211,95);
    color: rgba(82,211,95);
    height: 30px;
}
.blue{
    width:10%;
    background-color: rgba(70,123,190);
    color: rgba(70,123,190);
    height: 30px;
}
.red{
    width:33.3%;
    background-color: rgba(218,79,60);
    color: rgba(218,79,60);
    height: 50px;
}
.orange{
    width:33.3%;
    background-color: rgba(218,127,0);
    color: rgba(218,127,0);
    height: 50px;
}
.grey{
    width:33.3%;
    background-color:  rgba(151,165,166);
    color:  rgba(151,165,166);
    height: 50px;
}
.yellow{
    width:22.2%;
    background-color:  rgba(232,159,0);
    color:  rgba(232,159,0);
    height: 50px;
}
.green2{
    width:22.2%;
    background-color:  rgba(62,163,129);
    color:  rgba(62,163,129);
    height: 50px;
}
.orange2{
    width:22.2%;
    background-color:  rgb(199, 82, 0);
    color:  rgb(199, 82, 0);
    height: 50px;
}
.darkgrey{
    width: 100%;
    height: 120px;
    background-color: rgb(48, 61, 82);
    color: rgb(48, 61, 82);
}
