.boxes {
    display: grid;
    gap:15px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: auto auto auto;

  }
  /* Option : utiliser le flex pour aligner le contenu
  .boxes > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  .red {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    background-color: rgb(154, 37, 36);
  }
  .blue {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(54, 153, 148);
  }
  .green {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: rgb(51, 137, 99);
  }
  .purple {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(84, 49, 129);
  }
  .orange {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(203, 92, 17);
  }
  .blue2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: rgb(53, 119, 166);
  }
  .red2 {
    grid-column: 1;
    grid-row: 3 / 4;
    background-color:rgb(208, 43, 46);
  }
  .green2 {
    grid-column: 2;
    grid-row: 3 / 4;
    background-color: rgb(80, 154, 20);
  }
  .blue3 {
    grid-column: 3;
    grid-row: 3/4;
    background-color: rgb(54, 78, 148);
  }
  p{
      color:white;
      padding-left: 10px;
  }