.boxes {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: (4, 1fr);
    grid-template-rows: 60% 20% 40%;
  }
  .red {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(154, 37, 36);
    align-content: center;
  }
  .blue {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(54, 153, 148);
  }
  .green {
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(51, 137, 99);
  }
  .purple {
    grid-column: 4;
    grid-row: 1;
    background-color: rgb(84, 49, 129);
  }
  .orange {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(203, 92, 17);
  }
  .blue2 {
    grid-column: 4;
    grid-row: 2;
    background-color: rgb(53, 119, 166);
  }
  .red2 {
    grid-column: 1;
    grid-row: 3;
    background-color:rgb(208, 43, 46);
  }
  .green2 {
    grid-column: 3;
    grid-row: 3;
    background-color: rgb(80, 154, 20);
  }
  .blue3 {
    grid-column: 4;
    grid-row: 3;
    background-color: rgb(54, 78, 148);
  }
  p{
      color:white;
      margin-left: 10px;
  }